body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #444;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.search {
  position: relative;
  width: 100%;
  max-width: 500px;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007BFF;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

input[type="submit"] {
  display: block;
  width: 100px;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.result-container {
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.result-container img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.result-container img:hover {
  transform: scale(1.05);
}

.result-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-details p {
  margin: 5px 0;
  font-size: 1.1em;
  color: #555;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.sort-dropdown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-dropdown select {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sort-dropdown select:focus {
  border-color: #007BFF;
  outline: none;
}
