<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
    <link href="searchstyles.css" type="text/css">
</head>
<h1>
    Search Movies here!!
</h1>

<body>
<form method = "POST" action="/searchmovie">
  <input type="text" name = "movie1" th:value="${movie}"/>
  <input type="submit" value = "Click"/>
</form>

  <h1>Search Results</h1>
  <hr/>
  <div th:if="${searchresult != null}">
    <th:block th:each="result : ${searchresult}">
      <div>
        <!-- Accessing properties of each result -->
        <img th:src="${result.Poster}" alt="Movie Poster" style="width: 200px; height: 300px;"/>
        <p th:text="${result.Title}"></p>
        <p th:text="${result.Year}"></p>
        <p th:text="${result.imdbID}"></p>
        <hr/>
       
    </div>
    </th:block>
  </div>
</div>
</body>

  <style>
    .search {
    position: relative;
    width: 300px;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }
  .responsive-image {
    max-width: 100%;
    height: auto;
}
  </style>
  </html>