<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
    <link href="searchstyles.css" type="text/css">
</head>
<h1>
    Search Movies here!
</h1>
<div class="search">
    <input type="text" placeholder="Search...">
    <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
  </div>
<button>
    Search Movie!
</button>
<body>
  <h1 th:text="${result}"></h1>
</body>

  <style>
    .search {
    position: relative;
    width: 300px;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
  }
  </style>
  </html>